body {
	font-family: "Inter", sans-serif;
}

nav a {
	transition: color 0.3s;
}

nav a:hover {
	color: #ffeb3b;
}

.relative button {
	position: relative;
	z-index: 10;
}

#dropdown {
	min-width: 150px;
}
